<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('common-dependencies') %>
    <link rel="stylesheet" href="./styles/index.css" />
    <title>Members Only</title>
  </head>
  <body>
    <%- include('header') %>
    <main>
      <% if(!locals.currentUser) { %>
      <div id="info-div">
        <h1>Welcome to Members Only!</h1>
        <p>A private clubhouse for exclusive conversations</p>
        <div>
          <a href="/login" class="log-in"> Log In </a
          ><a href="/signup" class="sign-up"> Register </a>
        </div>
      </div>

      <% } else { %>
        <div>
          <h1>Welcome back, <%= locals.currentUser.first_name %></h1>
          <p> Share your thoughts with the community</p>
        </div>
     <% } %>
     
      <section id="posts-section">
        <h2>Recent Posts</h2>
        <a href="/new-post" class="new-message-button">New Message</a>
        <div class="posts-container">
          <% if(locals.posts.length === 0 ){ %>
            <p><em>No posts yet. Be the first</em></p>

         <% } else{ %>
          <% locals.posts.forEach((post) => { %>
            <%- include('partials/post-card', {post: post}) %>

         <% }) %>

        <% }%>
        </div>
      </section>
    </main>
    <%- include('footer') %>
  </body>
</html>
